DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
TICKET_CATEGORY_ID=your_ticket_category_id_here
SUPPORT_ROLE_ID=your_support_role_id_here
USER_ROLE_ID=your_user_role_id_here
BOT_ROLE_ID=your_bot_role_id_here

# Required for Render Keep-Alive
RENDER_EXTERNAL_URL=your_render_url_here

PORT=3000
